<!-- layouts/partials/paper_review_menu.html -->

<div class="paper-review-menu">
    <h3>Thèmes de Revue de Papiers</h3>
    <ul>
        {{ range $theme, $value := .Site.Taxonomies.theme }}
            <li>
                <a href="{{ "themes/" | relLangURL }}{{ $theme | urlize }}">{{ $theme }}</a>
                <ul>
                    {{ range $value.Pages }}
                        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </li>
        {{ end }}
    </ul>
</div>
