{{ define "main" }}

{{ if .IsHome }}
    <!-- Affichage spécifique pour la page d'accueil -->
    <style>
        .home-categories {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }
        .post-entry {
            max-width: 300px;
            border: 1px solid #ddd;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            background-color: #f9f9f9;
        }
        .entry-header h2 {
            margin-bottom: 10px;
        }
        .entry-content p {
            font-size: 14px;
        }
    </style>
    <div class="home-categories">
        <article class="post-entry">
            <header class="entry-header">
                <h2><a href="/paper_review">Paper Review</a></h2>
            </header>
            <div class="entry-content">
                <p>Dive into in-depth reviews of research papers, academic studies, and scholarly articles. This paper review is generated automatically, offering insights and summaries of academic papers.</p>
            </div>
        </article>

        <article class="post-entry">
            <header class="entry-header">
                <h2><a href="/my_researches">My Researches</a></h2>
            </header>
            <div class="entry-content">
                <p>Discover my research projects and findings. This section offers a glimpse into my academic and scientific subjects.</p>
            </div>
        </article>

        <article class="post-entry">
            <header class="entry-header">
                <h2><a href="/implementation_tutorials">Implementation Tutorials</a></h2>
            </header>
            <div class="entry-content">
                <p>Explore a collection of detailed tutorials that guide you through the implementation of various projects and concepts. These tutorials provide step-by-step instructions apply easily these concepts.</p>
            </div>
        </article>
    </div>


{{ else }}
    <!-- Affichage pour les autres pages -->
    {{ if .Title }}
        {{ partial "breadcrumbs.html" . }}
        <h1>{{ .Title }}</h1>
        {{ if .Description }}
            <div class="post-description">
                {{ .Description | markdownify }}
            </div>
        {{ end }}
    {{ end }}

    {{ if .Content }}
        <div class="post-content">
            {{ if not (.Param "disableAnchoredHeadings") }}
                {{ partial "anchored_headings.html" .Content }}
            {{ else }}
                {{ .Content }}
            {{ end }}
        </div>
    {{ end }}

{{- $pages := .RegularPages }}

{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- $pages = where $pages "Params.hiddenInHomeList" "!=" "true"  }}
{{- end }}

{{- $paginator := .Paginate $pages }}

{{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
{{- partial "home_info.html" . }}
{{- end }}

{{- $term := .Data.Term }}
{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}

{{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
{{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
{{- $class = "first-entry" }}
{{- else if $term }}
{{- $class = "post-entry tag-entry" }}
{{- end }}

<article class="{{ $class }}">
  {{- $isHidden := (site.Params.cover.hidden | default site.Params.cover.hiddenInList) }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" true "isHidden" $isHidden) }}
  <header class="entry-header">
    <h2>
      {{- .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h2>
  </header>
  {{- if (ne (.Param "hideSummary") true) }}
  <div class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
  </div>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}
  </footer>
  {{- end }}
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">
      «&nbsp;{{ i18n "prev_page" }}&nbsp;
      {{- if (.Param "ShowPageNums") }}
      {{- sub $paginator.PageNumber 1 }}/{{ $paginator.TotalPages }}
      {{- end }}
    </a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">
      {{- i18n "next_page" }}&nbsp;
      {{- if (.Param "ShowPageNums") }}
      {{- add 1 $paginator.PageNumber }}/{{ $paginator.TotalPages }}
      {{- end }}&nbsp;»
    </a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
