<!DOCTYPE html>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand main-title" href="{{ site.baseurl }}/">{{ page.title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- Ajoutez cette ligne pour ajouter un lien vers la page principale du blog -->
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://fr.linkedin.com/in/camille-barboule-353829147">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<html lang="en">
<head>
  <!-- Ajoutez cette ligne pour la police Google -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <!-- Ajoutez cette ligne pour votre fichier CSS personnalisé -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .main-title {
      font-size: 3rem; /* Changez cette valeur pour ajuster la taille du titre */
      font-weight: bold;
      text-align: center;
      width: 100%;
    }
    .navbar-nav {
      margin-left: auto;
    }
  </style>
</head>
<body>
  {{ content }}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>